.main-order-container{
    display: flex;
    align-items: center;
    padding:20px 0px;
}
.single-order-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw
}
.singleOrder-productid p{
    font-size:30px;
    margin-top: 10px;
    color:tomato;   
}
.singleOrder-information{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.singleOrder-price p{
    margin:20px 0px;
    font-size:20px;
}
.orderStatus-icon{
    font-size:50px !important;
}       
.singleOrder-img img{
    width:500px;
}
.singleOrder-status{
    display:flex;
    align-items: center;
    margin-top: 15px;
}
.divider{
    width:80px;
    height: 3px;
    border-bottom: 3px solid black;
}
.singleOrder-shipping{
    margin-top:20px;

}
.singleOrder-shipping-information p{
    font-size:20px;
    margin:30px 0px;
}

.cancel-order-btn{
    padding: 10px;
    cursor: pointer;
    border-radius:50px;
    font-size:15px;
    background-color: red;
    border:none;
    font-family: "poppins";
    color: white;
}
.mysingleorder-status{
    color:tomato;
    font-weight: bold;
}

@media (max-width:850px){
    .singleOrder-img img{
        width:400px;
    }   
    .singleOrder-productid p{
        font-size:20px;
    }
}
@media (max-width:650px){
    .main-order-container{
        display: block;
        width:100%;
        margin:0px auto;
    }
    .single-order-container{
        width: 100%;
    }
    .singleOrder-shipping{
        width:100%;
        text-align: center;
    }
}

@media (max-width:450px){
    .singleOrder-shipping-information{
        padding: 20px;
    }
}