.oldpassword,
.newpassword,
.conformpassword {
  width: 40%;
  margin: 15px auto;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: rgb(246, 243, 243);
}
.leftlogin{
    text-align: center;
}
@media (max-width: 1000px) {
  .oldpassword,
  .newpassword,
  .conformpassword {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .oldpassword,
  .newpassword,
  .conformpassword {
    width: 90%;
  }
}
