.pr-wrapper {
  display: flex;
  align-items: center;
}
.pr-wrapper div{
    flex: 1;
}
.pr-image {
  width: 80%;
  aspect-ratio: 1 / 1;
}
#product-price{
    font-size: 37px;
    color: #1cb803;
    margin: 20px 0px;
}
#product-desc{
    font-size: 20px;
}
.cart-options{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#cartbtn{
    padding: 15px 20px;
    cursor: pointer;
    font-size: 25px;
    background-color: #1cb803;
    border: none;
    color: white;
    border-radius: 5px;
}
#cart-numbers{
    padding: 10px 20px;
    font-size: 20px ;
}
