.wrapper {
  min-width: 100%;
  max-width: 100%;
  background-color: #1cb803;
  padding: 5px;
}
.number p {
  color: white;
}
.email {
  text-align: left;
  width: 50%;
}
.email p {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.social-media-icons {
  color: white;
}

@media (max-width:850px) {
  .number,.email{
    display: none;
  }
  .icons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width:702px) {
  .wrapper{
    width: 100%;
  }
}