@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,300&family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 1200px;
  display: flex;
  /* background-color: black; */
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1250px ) {
  .container{
    width: 1000px;
  }
}

@media (max-width:1020px) {
  .container{
    width: 900px;
  }
}
@media (max-width:925px) {
  .container{
    width: 800px;
  }
}
@media (max-width:830px) {
  .container{
    width: 700px;
  }
}
